@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

* {
  color: white;

  font-family: "Lato", sans-serif;
}
body {
  /* background-color: black; */

  background: linear-gradient(
    328deg,
    rgba(187, 22, 38, 1) 0%,
    rgba(0, 0, 0, 1) 16%
  );
}
#root {
  width: 85vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
input {
  background-color: black;
  /* border: 1px transparent; */
}
select {
  color: #ffffff;
  background-color: black;
  border: 1px transparent;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.titleHome {
  font-size: 3rem;
  background: -webkit-linear-gradient(
    180deg,
    #334274 10%,
    #772c4d 31%,
    #bb1626 41%,
    #ff0000 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: max-content;
}
/* Navbar and buttons */
.logoNavBar {
  width: 70vw;
}
.button {
  color: #ffffff;
  background-color: #242424;
  /* box-shadow: 1px 1px 1px #d1d1d1;
  border: 1px solid #334274; */
}
.button:hover {
}
.linkNavBar {
  color: #bb1626;
  font-size: 1rem;
  margin: 1rem;
}
.linkNavBar:hover {
  color: white;
  font-size: 1.1rem;
}
.buttonLogout {
  background-color: transparent;
}
.buttonLogout:hover {
  background-color: transparent;
  border-color: transparent;
  color: #bb1626;
}

/* Login page*/
.backgroundSignup {
  width: 100vw;
  padding: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1)
  );
}
.input {
  border-color: transparent;
}
.input:hover {
  border-bottom: 1px solid white;
}

/* Workout page  */
.workoutTitle {
  color: #bb1626;
}
.workoutBox {
  border-radius: 1rem;
  border: 1px solid #334274;
  background-color: #1a1a1a;
  /* box-shadow: 3px 3px 3px #868686; */
  margin: 1rem 0 1rem 0;
}
.workoutBackground {
  /* background-color: #242424; */
}
.head {
  border-radius: 1rem 1rem 0 0;
}
.feet {
  border-radius: 0 0 1rem 1rem;
}
.titleWorkout:hover {
  color: #bb1626;
}

/*Single workout page*/
.editAndCreateWorkout {
  display: flex;
  justify-content: center;
}
.workoutButton {
  margin: 0 0.5rem 0.5rem 0;
}
.deleteWorkout {
  color: #bb1626;
}

.navBar {
  top: 0;
  position: sticky;
  background-color: black;
}
.homePicture {
  width: 100vw;
}
/*Profil page*/
.bottomProfil {
  background-color: #242424;
  border-radius: 1rem;
  padding: 1rem;
}
